[submodule "SkyModel"]
	path = SkyModel
	url = https://github.com/cyriltasse/SkyModel
[submodule "shared-array"]
	path = shared-array
	url = git@github.com:o-smirnov/shared-array.git
	branch = issue-1-mlock
[submodule "sharedarray"]
	path = sharedarray
	url = git@github.com:o-smirnov/shared-array.git
	branch = issue-1-mlock
[submodule "DDFacet/Gridder/pybind11"]
	path = DDFacet/Gridder/pybind11
	url = https://github.com/pybind/pybind11
