recursive-include DDFacet/Array/ *.py
recursive-include DDFacet/Data/ *.py
recursive-include DDFacet/Gridder/ *.c
recursive-include DDFacet/Gridder/ *.h
recursive-include DDFacet/Gridder/ *.pyx
recursive-include DDFacet/Imager/ *.py
recursive-include DDFacet/Other/ *.py
recursive-include DDFacet/Parset/ *.cfg
recursive-include DDFacet/Parset/ *.py
recursive-include DDFacet/Tests/ *.py
recursive-include DDFacet/ToolsDir/ *.py
recursive-include DDFacet/cmake *.cmake
recursive-include DDFacet CMakeLists.txt
recursive-include SkyModel/Array *.py
recursive-include SkyModel/Other *.py
recursive-include SkyModel/PSourceExtract *.py
recursive-include SkyModel/Sky *.py
recursive-include SkyModel/Tools *.py
include SkyModel/*.py
include DDFacet/*.py

#backend if exists
recursive-include DDFacet/cbuild/Gridder *.so
include DDFacet/cbuild/__init__.py
include DDFacet/cbuild/Gridder/__init__.py
